<div class="filter-container">
    <h3>Tarefas</h3>
    <img 
        (click)="toggleModal()"
        src="/assets/icones/filtro.svg" 
        alt="Icone filtro"
        class="icone-filtro"
    >
    
    <div class="filter-desktop">
          <label>Data prevista de conclusão:</label>
          <input 
                type="date"
                class="app-input" 
                [(ngModel)]="filtro.periodoDe"
                (change)="filtrarTarefas()"
           >
          <label>Até</label>
          <input 
                type="date" 
                class="app-input"
                [(ngModel)]="filtro.periodoAte" 
                (change)="filtrarTarefas()"
           >
          <span class="divisor"></span>
          <label>Status</label>
          <select 
                (change)="filtrarTarefas()" 
                class="app-input" 
                [(ngModel)]="filtro.status.id"
                placeholder="Status">
            <option
                  *ngFor="let status of listaDeStatus"
                  [value]="status.id"
            >
                      {{status.nome}}
            </option>
          </select>
          <img 
              class="icone-limpar"
              src="/assets/icones/x-circle.svg"
              alt="Limpar filtro"
              (click)="limparFiltro()"
            />
    </div>
</div>

<app-modal [exibir]="modalAberto">
   <h4 class="modal-title">Filtrar tarefas</h4>
   
   <div class="form-filters">
       <input
          class="app-input inicio"
          type="text"
          placeholder="Data prevista de conclusão (inicial)"
          [ngModel]="filtro.periodoDe"
          inputDateComPlaceholder
        />
       <input
          class="app-input final"
          type="text"
          placeholder="Data prevista de conclusão (final)"
          [ngModel]="filtro.periodoAte"
          inputDateComPlaceholder
        />
        <select 
                class="app-input" 
                [(ngModel)]="filtro.status.id"
                placeholder="Status"
                
            >
                
            <option
                *ngFor="let status of listaDeStatus"
                [value]="status.id"
               
            >
                {{status.nome}}
            </option>
        </select>
    </div>
   
   <div class="actions">
        <button 
              class="btn btn-principal btn-apply-filter"
              (click)="filtrarTarefas()"
        >
        Aplicar filtro
        </button>
        <span class="btn-secundario" (click)="toggleModal()">Cancelar</span>
   </div>
</app-modal>

