$primaryColor: #5E49FF;
$secondaryColor: #A38DFC;
$grayColor: #7C7786;
$lightGreyColor: #f0f5ff;
$darkGreyColor: #575757;
$errorColor: #ff7563;

$fontRegular: "Biennale Regular";
$fontBold: "Biennale Bold";
$fontLight: "Biennale Light";

$breakpointDesktop: 992px
